@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
} 
body{
    font-family: 'Montserrat', sans-serif;
}
.nav{
    position: fixed;
    width: 100%;
    box-shadow: 0 0 10px;
}
.nav__list{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    margin: 0 2rem;
}
.nav__listlogo{
    list-style: none;
    margin-right: auto;
    cursor: pointer;
}
.nav__listitem{
    list-style: none;
    font-weight: bold;
    position: relative;
    padding: 1.5rem 1rem;
    cursor: pointer;
}
.nav__listitem:after{
    content: "";
    width: 0;
    height: 0.3rem;
    border-radius: 3px;
    position: absolute;
    left: 1rem;
    bottom: 0.8rem;
    background-color: rgb(228, 54, 83);
    transition:width 200ms ease-in-out;
}
.nav__listitem:hover::after, .nav__listitem:focus::after{
    width: 80%;
}

.nav__listitem:hover ul, .nav__listitem:focus ul{
    opacity: 1;
    visibility: visible;
}
.nav__listitemdrop{
    /* list-style: none; */
    width: 170px;
    position: absolute;
    top: 4rem;
    left: -1rem;
    box-shadow: 0 0 10px;
    background-color: white;
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    opacity: 0;
    visibility: hidden;
    transition:opacity 200ms ease-in-out;
}
.nav__listitemdrop li{
    list-style: none;
    padding: 0.5rem 1rem;
    transition: 200ms ease  ;
}
.nav__listitemdrop li:hover, .nav__listitemdrop li:focus{
    background-color: pink;
    border-radius: 3px;
}